#######################################################################
# Ender 3 Pro with SRK Mini E3 V2, BLTouch and Runout Filament Sensor #
#######################################################################

# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".
#
# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.
#
# See docs/Config_Reference.md for a description of parameters.

# Steppers

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 39.985 # Partia de 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 245 # Expands +10 for better bed mesh and nozzle cleaning
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40.15 # Partia de 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 235
position_min: -1
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
#position_max: 225 # He perdido 25 mm por el tope del eje z
position_max: 250
position_min: -5
# homing_speed: 4
# second_homing_speed: 1

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
microsteps: 16
rotation_distance: 7.589
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
max_extrude_only_distance: 400
max_extrude_only_velocity: 7
max_extrude_cross_section: 5
#control: pid
#pid_kp = 29.874
#pid_ki = 1.581
#pid_kd = 141.156
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 999999

# Heater bed

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
#control: pid
#pid_kp = 74.410
#pid_ki = 1.886
#pid_kd = 733.866
min_temp: 0
max_temp: 130

# Fans

[heater_fan nozzle_cooling_fan]
pin: PC7

[fan]
pin: PC6

# General printer

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_38FFD8055641343431771143-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 800 #3000 Para probar el PA
max_z_velocity: 5
max_z_accel: 100

[static_digital_output usb_pullup_enable]
pins: !PA14

[board_pins]
aliases:
  # EXP1 header
  EXP1_1=PB5, EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
  EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

# Raspberry Pi MCU (To use its gpios)

[mcu rpi]
serial: /tmp/klipper_host_mcu

# Raspberry Pi GPIOs

[output_pin beeper]
pin: rpi:gpio16

[temperature_sensor ambient_temp]
sensor_type: DS18B20
serial_no: 28-3c04f6480ea9
sensor_mcu: rpi

# BLTouch

[bltouch]
sensor_pin: ^PC2
control_pin: PA1
x_offset: -41
y_offset: -12
#z_offset: 0
pin_move_time: 0.4
speed: 20

[bed_mesh]
speed: 100
horizontal_move_z: 5
mesh_min: 10, 10
mesh_max: 204, 213
probe_count: 7, 7
mesh_pps: 2, 2
fade_start: 0
algorithm: bicubic
bicubic_tension: 0.2
move_check_distance: 5
split_delta_z: .025

# Demon Klipper Essentials necesita que esto este comentado
# [safe_z_home]
# home_xy_position: 158.5, 129.5
# speed: 100
# z_hop: 10
# z_hop_speed: 10

[screws_tilt_adjust]
screw1_name: Centro # Punto de referencia
screw1: 158.5, 129.5
screw2_name: Frontal izquierdo
screw2: 73.5, 44.5
screw3_name: Frontal derecho
screw3: 243.5, 44.5
screw4_name: Trasero derecho
screw4: 243.5, 214.5
screw5_name: Trasero izquierdo
screw5: 73.5, 214.5
horizontal_move_z: 5
speed: 50
screw_thread: CW-M3

# Runout Filament Sensor

[filament_switch_sensor filament_sensor]
switch_pin: PC15
pause_on_runout: False
insert_gcode:
  SET_DISPLAY_TEXT MSG="Filament inserted. Run a LOAD_FILAMENT"
  RESPOND MSG="Filament inserted. Run a LOAD_FILAMENT"
runout_gcode:
  {% if printer.print_stats.state == "printing" %}
    PUBLISH_ALERT PAYLOAD="FilamentRunOut"
    SET_DISPLAY_TEXT MSG="Filament finished. Removing filament..."
    RESPOND MSG="Filament finished. Removing filament..."
    _FIL_CHANGE_PARK
  {% else %}
    SET_DISPLAY_TEXT MSG="Runout detected"
    RESPOND MSG="Runout detected"
  {% endif %}

# Enable ADXL345 accelerometer

# Al conectar el sensor a la pi, o al cambiar de sensor, es necesario 
# reiniciar la pi entera (se puede hacer desde KlipperScreen con el
# boton "Reiniciar". Se debe perder todo el log)
[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    100, 100, 20  # an example

# Enable input_shaper
[input_shaper]
shaper_freq_x: 48.48
shaper_freq_y:  50.79 #63.49

# Macros

[include macros.cfg]

# Shell Commands

[include shell-macros.cfg]

# Orca Recommendations

[exclude_object]

[gcode_arcs]
resolution: 0.1

# Others

# Enable idle_timeout
[idle_timeout]
gcode:
  _DEMON_IDLE_TIMEOUT
timeout: 3600

# Enable force_move to make use of the new homing routine
[force_move]
enable_force_move: True

# Indicates where to save persistent global variables. The right location is ~
[save_variables]
filename: ~/demon_vars.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 31.967
#*# pid_ki = 1.791
#*# pid_kd = 142.653
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.196
#*# pid_ki = 1.626
#*# pid_kd = 801.374
#*#
#*# [bltouch]
#*# z_offset = 1.120
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.187477, 0.129984, 0.114986, 0.134983, 0.122485, 0.182477, 0.177478
#*# 	0.112486, 0.107487, 0.114986, 0.137483, 0.124984, 0.167479, 0.149981
#*# 	0.089989, 0.082490, 0.062492, 0.097488, 0.092488, 0.139983, 0.147482
#*# 	0.062492, 0.069991, 0.067492, 0.079990, 0.069991, 0.119985, 0.139983
#*# 	0.052493, 0.057493, 0.042495, 0.084989, 0.054993, 0.122485, 0.127484
#*# 	0.069991, 0.072491, 0.044994, 0.069991, 0.064992, 0.094988, 0.107487
#*# 	0.114986, 0.099988, 0.084989, 0.104987, 0.092488, 0.139983, 0.149981
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 193.96
#*# min_y = 10.0
#*# max_y = 212.97999999999996
